#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [5]:
df1 = pd.read_excel('ttest_machine.xlsx')

I know there's another sheet in there, but I reckon this is the one I need for now.

In [6]:
df1.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [7]:
# There's a sneaky space in the column name there

In [8]:
m160 = df1['Etching Rate'][df1['Power '] == '160 W']

In [9]:
m180 = df1['Etching Rate'][df1['Power '] == '180 W']

In [10]:
m200 = df1['Etching Rate'][df1['Power '] == '200 W']

It is not clear from the description which one of these is the 'new' machine, so I'll compare each of the two pairs.

- H0 = the mean of measurements for the first of the machines in the pair = that of the second
- H1 = the mean of measurements for the first machines in the pair != that of the second

WHICH TEST TO USE?

These machines are independent of one another, so I think I'll have to use the student test (ttest_ind)

In [11]:
ttest_ind(m160, m180)

Ttest_indResult(statistic=-1.8489200993517898, pvalue=0.10164495449539468)

In [12]:
ttest_ind(m160, m200)

Ttest_indResult(statistic=-7.611403634613074, pvalue=6.237977344615716e-05)

In [13]:
ttest_ind(m180, m200)

Ttest_indResult(statistic=-5.827496614588661, pvalue=0.0003926796476049085)

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [14]:
poke = pd.read_csv("pokemon.csv")

In [15]:
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [16]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    
    results = {}

    for item in features:
        set1 = s1[item]
        set2 = s2[item]        
        values = ttest_ind(set1, set2, equal_var = False)
        
        results[item]=values[1]
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [17]:
leg = poke[poke['Legendary'] == True]

In [18]:
nonleg = poke[poke['Legendary'] == False]

In [19]:
nonleg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [20]:
t_test_features(leg, nonleg)

{'HP': 1.0026911708035284e-13,
 'Attack': 2.5203724492366553e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239705e-21,
 'Sp. Def': 2.294932786405291e-15,
 'Speed': 1.0490163118824585e-18,
 'Total': 9.357954335957446e-47}

This is not exactly the same as the demo output above - but I'll take it.

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

There is a significant difference on all counts. (The null hypothesis posits equality, with these low p-values, the null hypothesis must be rejected).

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [89]:
gen1 = poke[poke['Generation'] == 1]
gen2 = poke[poke['Generation'] == 2]

In [90]:
t_test_features(gen1, gen2)

{'HP': 0.13791881412813622,
 'Attack': 0.24050968418101445,
 'Defense': 0.5407630349194362,
 'Sp. Atk': 0.14119788176331508,
 'Sp. Def': 0.1678122623160639,
 'Speed': 0.0028356954812578704,
 'Total': 0.5599140649014442}

#### What conclusions can you make?

There is no significant difference between these generations, except when it comes to speed.

#### Compare pokemons who have single type vs those having two types.

In [92]:
onetype = poke[poke['Type 2'].isna()]

In [95]:
twotype = poke[~poke['Type 2'].isna()]

In [97]:
t_test_features(onetype, twotype)

{'HP': 0.11060643144431842,
 'Attack': 0.00015741395666164396,
 'Defense': 3.250594205757004e-08,
 'Sp. Atk': 0.0001454917404035147,
 'Sp. Def': 0.00010893304795534396,
 'Speed': 0.02405141079403746,
 'Total': 1.1749035008828752e-07}

#### What conclusions can you make?

They might be similar in their HPs, but are significantly different in every other stat.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [98]:
ttest_rel(poke['Attack'], poke['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [99]:
ttest_rel(poke['Sp. Atk'], poke['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

The pvalue for Attack/Defense is very low, so these are bound to be significantly different.

The pvalue for Sp. Atk / Sp. Def is very low, so these are bound to be more similar.